img:hover {
  cursor: pointer;
  transform: scale(1.03);
  // overflow: hidden;
}

.no-wrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.search {
  padding-bottom: 10px;
}

.overflow {
  overflow: hidden;
}