nav {
  background-color: #000000;
}

.text-color {
  color: white;
  margin-left: 30px;
}

.links{
  margin-top: 10px;
}

.links:hover {
  cursor: pointer;
  color: grey;
  text-decoration: underline;
}

.search {
  margin-top: 15px;
  margin-left: 15px;
}